:root {
  font-family: "Avenir Next", Avenir, "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #24344f;
    background-color: #f5f8fc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #f5f8fc;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.swal2-container {
  z-index: 3000 !important;
}
